In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

train_data = pd.read_csv("data/authenticationTrainingData.csv", encoding='utf-16')
train_data.head()

,username,ip,successful,timestamp,failedLoginsSinceLastSuccessful,userWorksInThisCountry,isOnVacation,risky
0,User_1,83.144.109.111,True,1546300800,10,False,True,True
1,User_1,11.242.222.195,True,1546300900,0,True,False,False
2,User_1,11.242.222.195,True,1546400900,1,True,False,False

In [2]:
test_data = pd.read_csv("data/authenticationTestData.csv", encoding='utf-16')
test_data.head()

,username,ip,successful,timestamp,failedLoginsSinceLastSuccessful,userWorksInThisCountry,isOnVacation
0,User_1,83.144.109.111,True,1546300800,7,True,False
1,User_1,83.144.109.111,True,1546300800,3,False,True

In [3]:
import joblib
from sklearn.ensemble import RandomForestClassifier

y = train_data["risky"]

features = ["successful", "failedLoginsSinceLastSuccessful", "userWorksInThisCountry", "isOnVacation"]
X = pd.get_dummies(train_data[features])

X_test = pd.get_dummies(test_data[features])
X_test.head()
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)

predictions = model.predict(X_test)

output = pd.DataFrame({
    'username': test_data.username,
    'successful': test_data.successful,
    'failedLoginsSinceLastSuccessful': test_data.failedLoginsSinceLastSuccessful,
    'userWorksInThisCountry': test_data.userWorksInThisCountry,
    'isOnVacation': test_data.isOnVacation,
    'risky': predictions})

# save model to file
joblib.dump(model, "model/RiskyAuthenticationEventPredictionWithRandomForestClassifier.joblib")

output.head()

,username,successful,failedLoginsSinceLastSuccessful,userWorksInThisCountry,isOnVacation,risky
0,User_1,True,7,True,False,False
1,User_1,True,3,False,True,False